[Unit]
Description=OpenPower Software Update Manager
Wants=xyz.openbmc_project.Software.Version.service
Before=xyz.openbmc_project.Software.Version.service
Before=mboxd.service

[Service]
ExecStart=/usr/bin/openpower-update-manager
Restart=always
Type=dbus
BusName=org.open_power.Software.Host.Updater

[Install]
WantedBy=multi-user.target
