[Unit]
Description=Clear the Volatile PNOR partitions in host%I if Enabled
After=obmc-vpnor-enable-clearvolatile@%i.service
Before=obmc-host-start-pre@%i.target
ConditionPathExists=!/run/openbmc/host@%i-on

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/obmc-vpnor-util clearvolatile

[Install]
#RequiredBy=obmc-host-startmin@%i.target
