[Unit]
Description=Set POWER host firmware well-known names
After=xyz.openbmc_project.Software.Host.Updater.service
After=obmc-flash-bios-init.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/openpower-update-manager process-host-firmware

[Install]
WantedBy=xyz.openbmc_project.Software.Host.Updater.service
