[Unit]
Description=Update BIOS attr table with host firmware well-known names
After=org.open_power.Software.Host.Updater.service
After=obmc-flash-bios-init.service
After=openpower-process-host-firmware.service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/openpower-update-manager update-bios-attr-table

[Install]
WantedBy=org.open_power.Software.Host.Updater.service
